/*  #EE8112; orange color */
/*  #4DA1A8; blue color */

html {
    font-family: "Lexend", sans-serif;
}

img {
    color: black;
}

body {
    margin-left: 5em;
    margin-right: 5em;

}
.social_media_icons img{
    width: 32px;
    margin-left: 8px;
}
.navbar {
    background-color: white;
    height: 80px;
    margin-bottom: 20px;
    border-bottom: solid black 3px;
    padding: 0.5rem;
}

.logo-black {
    cursor: pointer;
    width: 55px;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666666;
    font-weight: 400;
    position: relative;
}

.nav-link:hover, .nav-link:active {
    color: #000;
}

.colab-logo {
    width: 100px;
    overflow: hidden;
}

/*-----Aboutpage-start-----*/

.introduction-h4 {
    text-align: justify;
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    width: 80%:
}

.about-me {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mail {
    text-decoration: none;
    color:rgb(66, 66, 66);
}

.mail:hover {
    cursor: pointer;
    transition: all 300ms ease;
    transform: scale(1.2);
    color: black;

}

/*-----Aboutpage-end-----*/



.hero-section {
    width: 100%;
    height: 100vh;
}

h1 {
    font-family: "Lexend", sans-serif;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: "Rock Salt";
    font-size: 5rem;
    margin: 0px;   
}
.intro-paragraph {
    color: black;
    text-align: justify;
    margin: 0;
}

.graphic-design {
    background-color: white;
    height: 343px;
    width: 30%;
}
.uiux-design {
    background-color: white;
    height: 343px;
    width: 30%;
}

.portfolio-page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.work-cards {
    margin: 80px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-cards img {
    width: 350px;
}

.shrink {
    transition: 1s ease;
}

.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    border-bottom: solid black 3px;
}

.web-dev {
    margin: 10px 0;
}
.wp1 {
    margin: 0 20px;
    padding: 0;
}
.wp2 {
    color: rgb(66, 66, 66);
    margin: 0 20px;
    padding: 0 0 10px 0;
}

.just-image {
    margin: 0;
    padding: 0;
}

.col-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 70px;
    padding-top: 20px;
}

.col-logo div {
    width: 20%;
}
 span {
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 8px;
 }

.btn-default {
    transition: all .5s ease;
    color: black;
    border: 3px solid black;
    font-family: "Lexend", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    background-color: transparent;
    padding:  5px 10px;
    outline: none;
    border-radius: 4px;
    margin-top: 25px;
  }

  .btn-default i {
    margin-right: 8px;
  }

  .btn-default:hover {
    color: white;
    background-color: black;
  }

.img-src {
    margin: 50px 0;
}

.just-image {
    width:  100%;
    margin-right: 20%;
}

footer {
    background-color: #000;
    margin-top: 50px;
}

footer i {
    padding: 8px;
    border: 3px solid white;
    border-radius: 8px;
}
/*-----Graphicdesign_page_START-----*/

.project-img-design {
    background-color: white;
    border: 3px solid black;
    border-radius: 2rem;
    height: 340px;
    display: grid;
    place-items: center;
}

.project-img-ui-ux {
    background-color: white;
    border: 3px solid black;
    border-radius: 2rem;
    height: 340px;
    display: grid;
    place-items: center;
}

.projects {
    margin-top: 50px;
    margin-left: 150px;
}

.about-project {
    margin-top: 35px;
    padding-left: 50px;
}

.about-project .btn-default {
  
}

.about-project h3 {
    border: none;
    font-size: 2rem;
}

.project-card {
    margin-top: 50px;
}

.project-logo {
    height: 170px;
    max-width: 350px;

}

.hover-card {
    transition: 1s ease;
}

.hover-card:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.project-btn {
    margin-top: 40px;
}

.project {
    padding-left: 100px;
    padding-right: 100px;
}

/*-----Graphicdesign_page_END-----*/

/*-----Media-----*/

@media (min-width: 991px) {
    .nav-link::before {
        content:  "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        transform-origin: left;
        transform: scaleX(1);
    }

}

@media (max-width: 1054px) {
    h2 {
        display: none;
    }
    .intro-paragraph {
        width: 100%;
    }


    .introduction-h4 {
        font-family: "Lexend", sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-top: 30px;
    }

    .project-logo {
        width: 220px
    }

    .project {
        padding-left: 10px;
        padding-right: 10px;
    }
    .projects {
        margin-left: 50px;
    }

    .work-cards img{
        width: 220px;
    }

    .about-project {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-img {
        width: 80%;
    }
    

@media (max-width: 700px) {

    h1 {
        font-size: 4rem;
    }
    
    .introduction-h4 {
        text-align: justify;
        font-family: "Lexend", sans-serif;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
    }
    .mail {
        font-size: 16px;
    }
    .about-me p {
        font-size: 14px;
    }

   
    body {
        margin: 0;
        padding: 0;
    }

    .projects {
        margin-right: 50px;
    }

    .col-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .work-cards img{
        width: 170px;
    }
    
}
