header {
    position: sticky;
    margin-top: 0;
    width: 100%;
    height: 80px;
    background-color: $backgroundColor;
    border-bottom: solid black 2px;

}

nav {
    overflow: hidden;
}

.logo-black {
    width: 55px;
    cursor: pointer;
}


.nav-menu {
    display: flex;
}

.social_media_icons img{
    width: 32px;
    margin-left: 8px;
}

