
// Colors
$blueColor: #4DA1A8;
$orangeColor: #EE8112;
$backgroundColor: white;

// Font and typography
$body-font: "Lexend", sans-serif;
$h1-font-size: 8rem;

// Font weight
$font-bold: 700;
$font-semi-bold: 500;

@media screen and (min-width: 968px) {
    $h1-font-size: 3rem;
    $normal-font-size: 1rem;
  }
  

// Margins
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

